<button id="trigger-overlay" type="button"><svg class="icon icon-menu"><use xlink:href="#icon-menu"></use></svg> Menu</button>

<div class="overlay overlay-scale">
  <button type="button" class="overlay-close">Close</button>
  <nav role="menu">
    <ul class="nav">
      <li><a href="/case-studies/">Case studies</a></li>
      <li><a href="/team/">Our team</a></li>
      <li><a href="/work-with-us/">Work with us</a></li>
      <li><a href="/join/">Join the team</a></li>
    </ul>
  </nav>
</div>
